.container {
    max-width: 500px;
  }
  
  .image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
  }
  
  .image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

#logo{
    height: 30px;
    width:30px;
    
    float: left;
    margin-right: 7px;
  }